<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.sound.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js"></script>

<script src="controller.js"></script>

<html>

<meta charset="utf-8">

<body>

<h3>Set Matrix Conents:</h3>
<input type="text" id="myText" value="Some text..." style="position: absolute;">
<button id="setter" style="position: absolute; left:10.5%;">Set</button>
<button id="picSetter" style="position: absolute;   top:29%; width: 33.9%">Set Picture</button>

</script>

</body>

</html>

